@model OdeToFood.Models.Restaurant

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Details</title>
</head>
<body>
    <h1>@Model.Name</h1>
    <div>Id : @Model.Id</div>
    <div>Cuisine : @Model.Cuisine</div>
    <div><a asp-action="Index" asp-controller="Home">Back</a></div>
</body>
</html>