@model HomeIndexViewModel
@{
    ViewBag.Title = "Index";
}

<h1>List of Restaurants</h1>

@foreach (var restaurant in Model.Restaurants)
{
    @Html.Partial("_Summary", restaurant)
}

 <div>
    <a asp-action="Create" asp-controller="Home">Create New</a>
</div>
