@model HomeIndexViewModel
@{ 
    ViewBag.Title = "Index";
}
<h1>List of Restaurants</h1>
<table>
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>
                @restaurant.Id
            </td>
            <td>
                @restaurant.Name
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@restaurant.Id">More</a>
            </td>
        </tr>
    }
</table>
<div>
    <a asp-action="Create" asp-controller="Home">Create New</a>
</div>
@section footer
    {
    @Model.CurrentMessage
}
