@page "{id}"
@model EditModel

<section class="page-section">
    <div class="container">
        <h1 class="site-heading-lower text-center text-white d-none d-lg-block">Edit @Model.Restaurant.Name</h1>
        <div class="bg-faded p-5 rounded col-6 mx-auto">
            <form method="post">
                <input type="hidden" asp-for="Restaurant.Id">
                <label class="section-heading-upper" asp-for="Restaurant.Name"></label>
                <input asp-for="Restaurant.Name" />
                <span class="section-heading-upper" asp-validation-for="Restaurant.Name"></span>

                <label class="section-heading-upper" asp-for="Restaurant.Cuisine"></label>
                <select class="section-heading-upper" asp-for="Restaurant.Cuisine" asp-items="@Html.GetEnumSelectList<CuisineType>()"></select>
                <span class="section-heading-upper" asp-validation-for="Restaurant.Cuisine"></span>
                <div>
                    <input class="btn btn-outline-dark" type="submit" name="save" value="Save" />
                    <a class="btn btn-outline-dark" asp-action="Index" asp-controller="Home">Back</a>
                </div>
            </form>

        </div>
    </div>
</section>


