body {
    font-family: 'Lora';
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 23, 15, 0.65))), url("../img/bg.jpg");
    background: linear-gradient(rgba(47, 23, 15, 0.65)), url("../img/bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.site-heading {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1;
    font-family: 'Raleway';
}

.site-heading .site-heading-upper {
    display: block;
    font-size: 2rem;
    font-weight: 800;
}

.site-heading .site-heading-lower {
    font-size: 5rem;
    font-weight: 100;
    line-height: 4rem;
}

.page-section {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.section-heading {
    text-transform: uppercase;
}

    .section-heading .section-heading-upper {
        display: block;
        font-size: 1rem;
        font-weight: 800;
    }

    .section-heading .section-heading-lower {
        display: block;
        font-size: 3rem;
        font-weight: 100;
    }

.bg-faded {
    background-color: rgba(255, 255, 255, 0.85);
}
.text-primary {
    color: #e6a756 !important;
}
#mainNav {
    background-color: rgba(47, 23, 15, 0.9);
    font-family: 'Raleway';
}

    #mainNav .navbar-brand {
        color: #e6a756;
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        color: rgba(255, 255, 255, 0.7);
        font-weight: 800;
    }

    #mainNav .navbar-nav .nav-item.active .nav-link {
        color: #e6a756;
    }
